afdko==2.9.1
appdirs==1.4.3
backports.os==0.1.1
booleanOperations==0.8.2
Brotli==1.0.7
cu2qu==1.6.5
defcon==0.6.0
enum34==1.1.6
fontMath==0.5.0
fontParts==0.9.1
fontPens==0.2.4
fonttools==3.43.1
fs==2.4.11
future==0.18.0
-e git+git@github.com:pratikgajjar/hindkit.git@5422c2b0969036c86b5484fd4207bda835796ef6#egg=hindkit
lxml==4.4.1
MutatorMath==2.1.2
psautohint==1.9.3rc1
pyclipper==1.1.0.post1
pytz==2019.3
robofab==1.2.1
singledispatch==3.4.0.3
six==1.12.0
typing==3.7.4.1
ufonormalizer==0.3.6
ufoProcessor==1.0.6
unicodedata2==12.0.0
zopfli==0.1.6
